<!DOCTYPE html>
<html>
  <head>
    <title>CoffeMaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <%= stylesheet_link_tag "css/open-iconic-bootstrap.min.css" %>
    <%= stylesheet_link_tag "css/animate.css" %>
    <%= stylesheet_link_tag "css/owl.carousel.min.css" %>
    <%= stylesheet_link_tag "css/owl.theme.default.min.css" %>
    <%= stylesheet_link_tag "css/magnific-popup.css" %>
    <%= stylesheet_link_tag "css/aos.css" %>
    <%= stylesheet_link_tag "css/ionicons.min.css" %>
    <%= stylesheet_link_tag "css/bootstrap-datepicker.css" %>
    <%= stylesheet_link_tag "css/jquery.timepicker.css" %>
    <%= stylesheet_link_tag "css/flaticon.css" %>
    <%= stylesheet_link_tag "css/icomoon.css" %>
    <%= stylesheet_link_tag "css/style.css" %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "js/jquery.min.js" %>
    <%= javascript_include_tag "js/jquery-migrate-3.0.1.min.js" %>
    <%= javascript_include_tag "js/popper.min.js" %>
    <%= javascript_include_tag "js/bootstrap.min.js" %>
    <%= javascript_include_tag "js/jquery.easing.1.3.js" %>
    <%= javascript_include_tag "js/jquery.waypoints.min.js" %>
    <%= javascript_include_tag "js/jquery.stellar.min.js" %>
    <%= javascript_include_tag "js/owl.carousel.min.js" %>
    <%= javascript_include_tag "js/jquery.magnific-popup.min.js" %>
    <%= javascript_include_tag "js/aos.js" %>
    <%= javascript_include_tag "js/jquery.animateNumber.min.js" %>
    <%= javascript_include_tag "js/bootstrap-datepicker.js" %>
    <%= javascript_include_tag "js/jquery.timepicker.min.js" %>
    <%= javascript_include_tag "js/scrollax.min.js" %>
    <%#= javascript_include_tag "js/google-map.js" %>
    <%= javascript_include_tag "js/main.js" %>
  </body>
</html>
